[Desktop Entry]
Name[en_GB]=Quicktile
Comment[en_GB]=quicktile --daemonize
Exec=~/quicktile --daemonize
Icon=application-default-icon
Type=Application
X-GNOME-Autostart-enabled=true
